@media (max-width: 768px){
    #page{
        min-width: auto;
    }
    #header{
        background-size: cover;
        height: 100%;
        background-position: center;
    }
    #header .leftText p {
        float: none;;
        margin-bottom: 20px;
    }
    #header .ce{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header .ce h2{
        width: 100%;
        text-align: center;
        
    }
    .leftText{
        width: 100%;
        text-align: center;
    }
    #header h1{
        margin-bottom: 20px;
    }
}